{% extends 'base.html' %}
{% load static %}



{% block content %}
{% include 'headerNews.html' %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="blog grid grid-view boxed">
      <div class="row isotope">

        {% for news in newsAll %}
        <div class="item post grid-sizer col-md-6 col-lg-4" dir='rtl'>
          <div class="box bg-white shadow p-30">
            <figure class="main mb-30 overlay overlay1 rounded"><a href="{{ news.get_news_url }}"> <img src="{{ news.mainPIC.url }}" alt="" height='200px' /></a>
              <figcaption>
                <h5 class="TagFont from-top mb-0">اقرأ المزيد</h5>
              </figcaption>
            </figure>
            {% comment %} <center>
            <div class="TagFont category"><a href="{% url 'category' news.category.id %}" class="badge badge-{{ news.category.get_badge_display }}">{{news.category}}</a></div>
            </center> {% endcomment %}
            <h2 class="homeTitleFont post-title" align='center'><a href="{{ news.get_news_url }}">{{ news.title }}</a></h2>
            <!-- /.post-content -->
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i>{{ news.created }}</span></div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.post -->
        
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.blog -->
    <div class="space30 d-block d-md-none"></div>
    <div class="pagination">
      <ul>
        {% if newsAll.has_previous %}
          <li><a href="?page={{ newsAll.previous_page_number }}" class="pl-0"><i class="jam jam-arrow-left"></i></a></li>
          {% if newsAll.number > 3 %}
            <li class="active"><a href="?page=1"><span>1</span></a></li>
            {% if newsAll.number > 4 %}
              <li><span>...</span></li>
            {% endif %}
          {% endif %}
        {% endif %}

        {% for num in newsAll.paginator.page_range %}
          {% if newsAll.number == num %}
            <li><a href="?page={{num}}"><span>{{num}}</span></a></li>
          {% elif num > newsAll.number|add:'-3' and num < newsAll.number|add:'3' %}
            <li><a href="?page={{num}}"><span>{{num}}</span></a></li>
          {% endif %}
        {% endfor %}

        {% if newsAll.has_next %}
          {% if newsAll.number < newsAll.pagenator.num_pages|add:'-3' %}
            <span>...</span>
            <li><span><a href="?page={{ newsAll.paginator.num_pages }}">{{ newsAll.paginator.num_pages }}</a></span></li>
          {% elif newsAll.number < newsAll.paginator.num_pages|add:'-2' %}
            <li><span><a href="?page={{ newsAll.paginator.num_pages }}">{{ newsAll.paginator.num_pages }}</a></span></li>
          {% endif %}
          <li><a href="?page={{ newsAll.next_page_number }}" class="pr-0"><i class="jam jam-arrow-right"></i></a></li>
        {% endif %}
      </ul>
    </div>
    <!-- /.pagination -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->

{% endblock content %}


