
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'style/images/favicon.ico' %}">
  <title>Code for Iraq</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/plugins.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/settings.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/layers.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/revolution/css/navigation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/type/type.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/font_style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/color/purple.css' %}">
  <!-- FONTS Links -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Amiri&family=Aref+Ruqaa&family=Baloo+Bhaijaan+2&family=Cairo:wght@200&family=Changa:wght@200&family=El+Messiri&family=Harmattan&family=IBM+Plex+Sans+Arabic:wght@200&family=Jomhuria&family=Katibeh&family=Kufam&family=Lalezar&family=Lateef&family=Lemonada:wght@300&family=Mada:wght@300&family=Markazi+Text&family=Mirza&family=Noto+Kufi+Arabic:wght@100&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@100&family=Qahiri&family=Rakkas&family=Readex+Pro:wght@300&family=Reem+Kufi&family=Scheherazade+New&family=Tajawal:wght@200&family=Vibes&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/font/font2.css' %}">
</head>