{% load static %}


{% include "nav.html" %}
<!-- /.navbar -->

{% include "offcanvas.html" %}
<!-- /.offcanvas-info -->

<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{% static 'style/images/art/our_team.jpg' %}">
  <div class="container inner text-center">
    <div class="space200">
    </div>
    <h1 class="page-title">فريقنا</h1>
    <p class="lead">ادناه قائمة بفريق المبادرة</p>
  </div>
  <!-- /.container -->
</div>

{% include "messages.html" %}
<!-- /.messages -->