{% load static %}




{% include "nav.html" %}
<!-- /.navbar -->

{% include "offcanvas.html" %}
<!-- /.offcanvas-info -->

<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{% static 'style/images/art/Contact-us.jpg' %}">
  <div class="container inner text-center">
    <div class="space50"></div>
    <h1 class="page-title">التواصل معنا</h1>
    <p class="lead">لمعلومات اكثر ارسل استفسارك من خلال الاستمارة</p>
  </div>
  <!-- /.container -->
</div>

{% include "messages.html" %}
<!-- /.messages -->