{% load static %}


{% include "nav.html" %}
<!-- /.navbar -->

{% include "offcanvas.html" %}
<!-- /.offcanvas-info -->

<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{% static 'style/images/art/news-banner.jpg' %}">
  <div class="container inner text-center">
    <div class="space50"></div>
    <h1 class="page-title">ألأخبار</h1>
    <p class="lead">كل أحبار المبادرة تجدها هنا</p>
  </div>
  <!-- /.container -->
</div>

{% include "messages.html" %}
<!-- /.messages -->

