<nav class="navbar bg-white shadow navbar-expand-lg" dir='rtl'>
    <div class="container">
      <div class="navbar-brand"><a href="{% url 'home' %}"><img src="#" srcset="static/style/images/Logo_120.png 1x, static/style/images/Logo_240.png 2x" alt="" /></a></div>
  
      <div class="navbar-other ml-auto order-lg-3">
        <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
          <li class="nav-item">
            <div class="navbar-hamburger d-lg-none d-xl-none ml-auto"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
          </li>
  
          <li class="dropdown search-dropdown position-static nav-item" dir='ltr'>
            <a href="#" role="button" class="collapse-toggle" data-toggle="collapse" data-target=".search-dropdown-menu" aria-haspopup="true" aria-expanded="false"><i class="jam jam-search"></i></a>
            <div class="dropdown-menu search-dropdown-menu w-100 collapse">
              <div class="form-wrapper">
  
                <form class="inverse-text" method="GET" action="{% url 'search' %}">
                  <input type="search" class="form-control" placeholder="Search something" name='search'>
                </form>
  
                <!-- /.search-form -->
                <i class="dropdown-close jam jam-close"></i>
              </div>
              <!-- /.form-wrapper -->
            </div>
          </li>
          <li class="nav-item"><button class="plain" data-toggle="offcanvas-info"><i class="jam jam-info"></i></button></li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
      <div class="navbar-collapse offcanvas-nav">
        <div class="offcanvas-header d-lg-none d-xl-none">
          <a href="{% url 'home' %}"><img src="#" srcset="static/style/images/Logo_120.png 1x, static/style/images/Logo_240.png 2x" alt="" /></a>
          <button class="plain offcanvas-close offcanvas-nav-close"><i class="jam jam-close"></i></button>
        </div>
        <ul class="NavFont navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">الرئيسية</a>
          </li>
          <li class="nav-item "><a class="nav-link" href="{% url 'eventList' %}">ألأحداث والدورات</a>
          </li>
          <li class="nav-item "><a class="nav-link" href="{% url 'allNews' %}">ألأخبار</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'blogs' %}">المدونة</a>
          </li>
          <li class="nav-item "><a class="nav-link" href="{% url 'team' %}">عن المجموعة</a>
          </li>
          <li class="nav-item "><a class="nav-link" href="{% url 'contact_us' %}">الاتصال بنا</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item "><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item "><a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
        <!-- /.navbar-nav -->
    </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->