{% load static %}

{% include "nav.html" %}
<!-- /.navbar -->


{% include "offcanvas.html" %}
<!-- /.offcanvas-info -->


<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{% static 'style/images/Logo_HD.jpg' %}">
  <div class="container inner text-center">
    <div class="space50"></div>
    <h1 class="TagFont page-title">مبادرة البرمجة لاجل العراق</h1>
    <p class="TagFont lead">مبادرة مجتمعية تعنى بتدريب وتعليم افراد المجتمع التقنيات الحديثة</p>
  </div>
</div>


{% include "messages.html" %}
<!-- /.messages -->
