<div class="offcanvas-info inverse-text paraBlockFont">
  <button class="plain offcanvas-close offcanvas-info-close"><i class="jam jam-close"></i></button>
  <center>
  <a href="{% url 'home' %}"><img src="#" srcset="static/style/images/Logo_120.png 1x, static/style/images/Logo_240.png 2x" alt="" /></a>
  </center>
  <div class="space30"></div>
  <p dir='rtl' align='right'>نحن مجموعة نقوم بتهيأت الخريجين والطلبة وتدريبهم على مختلف التقنيات المتداوله وتأهيلهم لسوق العمل</p>
  <div class="space20"></div>
  <div class="widget">
    <h5 class="widget-title" dir='rtl' align='right'>معلومات التواصل</h5>
    <address><p dir='rtl' align='right'> بغداد <br /> بغداد </p><div class="space20"></div>
      <a href="mailto:info@codeforiraq.org" class="nocolor">info@codeforiraq.org</a><br /> +00 (964) 770 12 3456 </address>
  </div>
  <!-- /.widget -->
  <div class="widget">
    <h3 class="widget-title">Follow Us</h3>
    <ul class="social social-mute social-s ml-auto">
      <li><a href="#"><i class="jam jam-twitter"></i></a></li>
      <li><a href="#"><i class="jam jam-facebook"></i></a></li>
      <li><a href="#"><i class="jam jam-instagram"></i></a></li>
      <li><a href="#"><i class="jam jam-vimeo"></i></a></li>
      <li><a href="#"><i class="jam jam-youtube"></i></a></li>
    </ul>
  </div>
  <!-- /.widget -->
</div>