{% extends "base.html" %}
{% load static %}



{% block content %}
{% include "navbar.html" %}


  <div class="wrapper white-wrapper" dir='rtl'>
    <div class="container inner">
      <div class="text-center">
        <h3 class="TagFont title-bg bg-default color-default">ما هو عملنا؟</h3>
      </div>
      <div class="space10"></div>
      <h2 class="paraBlockFont display-3 text-center">نقوم بتأهيل وتطوير الشاب العراقي <br class="-none d-lg-block" />لكي يكون جاهزا لتقنيات سوق العمل</h2>
      <div class="space30"></div>
      <div class="row gutter-60 text-center align-items-end">
        <div class="col-md-4">
          <figure class="mb-30"><img src="#" srcset="static/style/images/concept/concept14.png 1x, static/style/images/concept/concept14@2x.png 2x" alt="" /></figure>
          <h4 class='homeTitleFont'>متابعة المتدربين</h4>
          <p class="paraBlockFont mb-15">بعد انتهاء التدريب نقوم بمتابعة المتدرب واطلاعه على كل مستجدات سوق العمل.</p>
        </div>
        <!--/column -->
        <div class="space20 d-md-none"></div>
        <div class="col-md-4">
          <figure class="mb-30"><img src="#" srcset="static/style/images/concept/concept19.png 1x, static/style/images/concept/concept19@2x.png 2x" alt="" /></figure>
          <h4 class='homeTitleFont'>اقامة المشاريع</h4>
          <p class="paraBlockFont mb-15">بعد الانتهاء من التدريب يتم تقيم المتدرب عن طريق بناء مشروع مما تعلمه خلال فترة التدريب.</p>
        </div>
        <!--/column -->
        <div class="space20 d-md-none"></div>
        <div class="col-md-4">
          <figure class="mb-30"><img src="#" srcset="static/style/images/concept/concept18.png 1x, static/style/images/concept/concept18@2x.png 2x" alt="" /></figure>
          <h4 class='homeTitleFont'>التدريب</h4>
          <p class="paraBlockFont mb-15">تدريب المشاركين باخر التقنيات المتداولة في السوق.</p>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="space140"></div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <figure><img src="#" srcset="static/style/images/concept/concept15.png 1x, static/style/images/concept/concept15@2x.png 2x" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pl-60 pl-md-15" align='right'>
          <h2 class="TagFont title-bg bg-default color-default">كيف نقوم بذلك؟</h2>
          <div class="space10"></div>
          <h3 class="paraBlockFont display-3" align='center'>اكتشف كل ما تحتاجه حول كيفية تدريبنا للمشاركين معنا.</h3>
          <div class="space20"></div>
          <div class="row">
            <div class="col-md-6">
              <h5><span class="homeTitleFont color-default">1.</span> اختيار المسار</h5>
              <p class='paraBlockFont'>يختار المتدرب المسار الذي يرغب به من عدة مسارات تلائم سوق العمل وباخر التحديثات.</p>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <h5><span class="homeTitleFont color-default">2.</span> عمل المهمات</h5>
              <p class='paraBlockFont'>خلال عملية التدريب نقوم بعمل  مجموعة من المهمات خلال التعلم لترسيخ المادة التعليمية اكثر لدى المتدرب.</p>
            </div>
            <!--/column -->
            <div class="space10 d-none d-md-block"></div>
            <div class="col-md-6">
              <h5><span class="homeTitleFont color-default">3.</span> عمل مشروع</h5>
              <p class='paraBlockFont'>بعد الانتهاء من التدريب يتم طلب من كل متدرب تقديم مشروع متكامل بخصوص ما تدرب عليه ليتم تقييم مدى استيعابه للمادة التدريبية.</p>
            </div>
            <!--/column -->
            <div class="col-md-6">
              <h5><span class="homeTitleFont color-default">4.</span> شهادة التدريب</h5>
              <p class='paraBlockFont'>في النهاية وبعد تقديم المشروع سيحصل المتدرب على شهادة من IEEE تؤكد تجاوزه للتدريب.</p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <div class="space140"></div>
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2 text-center">
          <figure><img src="#" srcset="static/style/images/concept/concept17.png 1x, static/style/images/concept/concept17@2x.png 2x" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        
        <div class="col-lg-6 pr-60 pr-md-15">
          <h2 class="TagFont title-bg bg-default color-default" align='center'>لماذا تختارنا؟</h2>
          <div class="space10"></div>
          <h3 class="display-3" align='center'>هنا بعض الاسباب التي تجعلنا الاختيار الافضل لمستقبلك.</h3>
          <div class="space20"></div>
          <div id="accordion-1" class="accordion-wrapper simple" align='center'>
            <div class="card">
              <div class="card-header" id="accordion-heading-1-1">
                <h5>
                  <button data-toggle="homeTitleFont collapse" data-target="#accordion-collapse-1-1" aria-expanded="true" aria-controls="accordion-collapse-1-1">التدريب على احدث التقنيات</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-1-1" class="collapse show" aria-labelledby="accordion-heading-1-1" data-parent="#accordion-1">
                <div class="paraBlockFont card-body">
                  <p>نقوم بالتدريب على احدث التقنيات مع تحديث مستمر لمناهج التدريب تواكب التحديثات المطلقة للتقنيه وبما يلائم جميع الاعمار والاختصاصات.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header" id="accordion-heading-1-2">
                <h5>
                  <button class="homeTitleFont collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-2" aria-expanded="false" aria-controls="accordion-collapse-1-2">دعم المشاريع الناشئة</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-1-2" class="collapse" aria-labelledby="accordion-heading-1-2" data-parent="#accordion-1">
                <div class="paraBlockFont card-body">
                  <p>نقوم بتقديم الدعم اللازم لاصحاب المشاريع الناشئة لاطلاق مشاريعهم والوقوف على ارض صلبه تمكنه من ادارة مشروع ناجح.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header" id="accordion-heading-1-3">
                <h5>
                  <button class="homeTitleFont collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-3" aria-expanded="false" aria-controls="accordion-collapse-1-3">شهادة تدريب</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-1-3" class="collapse" aria-labelledby="accordion-heading-1-3" data-parent="#accordion-1">
                <div class="paraBlockFont card-body">
                  <p>عند انتهاء التدريب سيحصل المشارك على شهادة انهاء التدريب او اذا اتم مشروع التدريب يحصل على شهادة انشاء مشروع مقدمة من قبل IEEE young professional NJ.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.accordion-wrapper -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% comment "" %}
  <div class="wrapper image-wrapper bg-image gradient-overlay inverse-text" data-image-src="{% static 'style/images/art/bg25.jpg' %}">
    <div class="container inner pt-140 pb-140 text-center">
      <h2 class="title-bg bg-white color-dark">How We Do It?</h2>
      <div class="space10"></div>
      <h3 class="display-3">Find out everything you need to know <br class="d-none d-lg-block" />about creating a business process model.</h3>
      <div class="space10"></div>
      <div class="light-gallery-wrapper"><a href="https://www.youtube.com/watch?v=26TbMXXOe0I" class="btn-play lightbox"></a></div>
    </div>
    <!-- /.container -->
  </div>
  {% endcomment %}
  <!-- /.wrapper -->
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="space20"></div>
      <div class="row">
        <div class="col-lg-6">
          <figure><img src="#" srcset="static/style/images/concept/concept13.png 1x, static/style/images/concept/concept13@2x.png 2x" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="space10 d-md-none"></div>
        <div class="col-lg-6 pl-60 pl-md-15">
          <div dir='rtl' align='center'>
          <h2 class="TagFont title-bg bg-default color-default">الاسئلة الشائعة</h2>
          <div class="space10"></div>
          <h3 class="TagFont display-3">اذا لم تجد اجابة لتساؤلاتك، يمكنك ارسال رسالة بريدية او عن طريق الاتصال بنا.</h3>
          </div>
          <div class="space20"></div>
          <div id="accordion-2" class="paraBlockFont accordion-wrapper simple" dir='rtl' align='right'>
            <div class="card">
              <div class="card-header" id="accordion-heading-2-1">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-1" aria-expanded="false" aria-controls="accordion-collapse-2-1">هل العمر عائق للمشاركة في دوراتكم؟</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-2-1" class="collapse" aria-labelledby="accordion-heading-2-1" data-target="#accordion-2">
                <div class="card-body">
                  <p>في المبادرة نقبل جميع الفئات العمرية وكذلك من كلا الجنسين.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header" id="accordion-heading-2-2">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-2" aria-expanded="false" aria-controls="accordion-collapse-2-2">هل التخصص الدراسي مطلوب للمشاركة في دوراتكم؟</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-2-2" class="collapse" aria-labelledby="accordion-heading-2-2" data-target="#accordion-2">
                <div class="card-body">
                  <p>كلا، فنحن نعلم من الصفر حتى الاشخاص من غير الاختصاصات الحاسوبيه يمكنهم المشاركة وتعلم التكنلوجيا الحديثة.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header" id="accordion-heading-2-3">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-3" aria-expanded="false" aria-controls="accordion-collapse-2-3">هل تمنحون شهادة عند انتهاء الدورة؟</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-2-3" class="collapse" aria-labelledby="accordion-heading-2-3" data-target="#accordion-2">
                <div class="card-body">
                  <p>نعم، نحن لدينا اتفاقية مع منظمة ال IEEE تعطينا الصلاحية لمنح شهادات مختلفة ان كانت انهاء دورة او عمل مشروع او المشاركة في المؤتمرات الخاصة بنا.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header" id="accordion-heading-2-4">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-4" aria-expanded="false" aria-controls="accordion-collapse-2-4">هل يمكننا الحضور او المشاركة في مؤتمراتكم؟</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-2-4" class="collapse" aria-labelledby="accordion-heading-2-4" data-target="#accordion-2">
                <div class="card-body">
                  <p>الجميع مرحب بهم للحضور او المشاركة في المؤتمرات والورش التي تقيمها المبادرة في اي مكان في العراق.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header" id="accordion-heading-2-5">
                <h5>
                  <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-5" aria-expanded="false" aria-controls="accordion-collapse-2-5">هل يمكنني الانظمام الى المبادرة؟</button>
                </h5>
              </div>
              <!-- /.card-header -->
              <div id="accordion-collapse-2-5" class="collapse" aria-labelledby="accordion-heading-2-5" data-target="#accordion-2">
                <div class="card-body">
                  <p>طبعا، يمكن لا شخص الانضمام الى المبادرة عن طريق تقديم طلب او الى الدورات التدريبية التي تقيمها المبادرة.</p>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.collapse -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.accordion-wrapper -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>


{% endblock content %}